@import "variables/variables.scss";

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; };
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0;};
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }


* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

button {
    background-color: inherit;
    cursor: pointer;
    border:none;
}

body {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $black;
}

.es-text {
    font-size: 16px;
    font-weight: $regular;
    color: $silver;
    line-height: 145%;
    &--size-14 {
        font-size: 14px;
    }
    & p {
        margin-bottom: 25px;
    }
    & p:last-child {
        margin-bottom: 0px;
    }
    & strong {
        color: $black;
    }
}
.es-title {
    &--h1 {
        margin-top: 41px;
        margin-bottom: 22px;
        font-size: 38px;
        font-weight: $extra-bold;
        font-style: italic;
        color: $black;
    }
    &--h2 {
        font-size: 23px;
        font-weight: $extra-bold;
        font-style: italic;
        color: $black;
        
    }
    &--h3 {
        color: $black;
        font-size: 16px;
        font-weight: $medium;
        font-style: italic;
        &-bold {
            font-size: 16px;
            font-weight: $bold;
            font-style: italic;
            color: $black;
        }
    }
}

.es-link {
    transition: 0.1s linear;
    font-size: 14px;
    font-weight: 400;
    color: $silver;
    &:hover {
        color: $orange;
        transition: 0.1s linear;
    }
}

// ОСНОВНЫЕ СТИЛИ ДЛЯ БЛОКОВ И ЭЛЕМЕНТОВ
// Преимущества
.es-advantages {
    margin-top: 20px;
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        margin-left: 10px;
    }

    &__text-content {
        margin-left: 26px;
    }
    &__title {
        margin-bottom: 5px;
    }
    &__description {
        max-width: 262px;
    }
}


// Успейте купить
.es-discount{
    &__banner {
        grid-row: 1/3;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        min-width: 228px;
        height: 542px;
        &-image {
            height: 100%;
            width: 100%;
        }
    }
}
.es-discount-2 {
    &__banner {
        grid-column: 2/3;
    }
}


// Популярные категории
.popular-categories {
    &__category {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1f1f1;
        height: 316px;
        border-radius: 5px;
        &:hover > img{
            opacity: 1;
            transform: scale(1.2)
        }
        &:hover > &-title{
            color: $black;
        }

        &-title {
            position: absolute;
            top: 22px;
            left: 25px;
            font-size: 16px;
            font-weight: $medium;
            font-style: italic;
            color: #979797;
            transition: color 0.8s;
        }
        &:nth-child(1) {
            grid-column: 1/3;
        }
        &:nth-child(2) {
            grid-column: 3/5;
        }
        &:nth-child(4) {
            grid-column: 2/5;
        }
        & img {
            transition: 0.8s;
            opacity: 0.6;
            width: 60%;
            height: 60%;
            object-fit: contain;
        }
    }
}


// Блок <<О нашей компании>>
.es-block-about-us {
    &__title {
        margin-bottom: 19px;
    }
    &__btn {
        margin-top: 22px;
    }
}

// Поставшики
.es-suppliers {
    &__supplier {
        background-color: #e9e9e9;
        border-radius: 5px;
        height: 102px;
        display: flex;
        justify-content: center;
        align-items: center;
        & h3 {
            color: #848484;
            font-weight: $extra-bold;
            font-style: italic;
            font-size: 20px;
        }
    }
}


// ВТОРОСТЕПЕННЫЕ СТРАНИЦЫ
// Страница <<Каталог>>
.es-filter {
    background-color: $bg;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 20px 24px;
    &__price {
        margin-bottom: 25px;
        &-numbers {
            display: flex;
            margin-top: 20px;
        }
        &-label {
            border-radius: 5px;
            height: 41px;
            display: flex;
            align-items: center;
            border: 1px solid rgb(202, 202, 202);
            &:first-child {
                margin-right: 18px;
            }
            & span {
                font-size: 14px;
                margin-left: 7px;
                color: #9b9b9b;
            }
        }
        &-num {
            padding: 0 10px 0 8px;
            background-color: inherit;
            border: none;
            width: 100%;
            &:focus {
                outline: none;
            }
            &:focus .es-filter__price-label{
                outline: 2px solid black;
            }
        }
    }


    &__title {
        display: inline-block;
        margin-top: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        & h3 {
            display: inline-block;
            margin-right: 9px;
        }
        &-image {
            transition: .1s;
            display: inline-block;
            margin-top: 3px;
            fill: $black;
        }
    }
    &__list {
        transition: .1s;
        overflow: hidden;
        margin-top: 8px;
        & li {
            margin-bottom: 8px;
        }
    }
    
}

.es-catalog__cards {
    &-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 18px;
    }
}



// Страница <<Доставка и оплата>>
.es-tables {
    margin-top: 57px;
    display: flex;
}
.es-table {
    border-radius: 5px;
    color: $black;
    border: 1px solid #B0B0B0;
    background-color:$bg;
    &__td {
        &-border-left {
            border-left: 1px solid #B0B0B0;
        }
        &-border-top {
            border-top: 1px solid #B0B0B0;
        }
    }

    &__title {
        &--h2 {
            color: #808080;
        }
    }
}

td {
    border: none;
    height: 61px;
}


// Страница <<Акции>>
.es-offers {
    &__offer {
        display: block;
        &-image {
            width: 100%;
            max-height: 156px;
            object-fit: cover;
            border-radius: 5px;
        }

        &-date {
            padding: 5px 12px;
            display: inline-block;
            background-color: #e9e9e9;
            border-radius: 5px;
            font-size: 14px;
            margin-top: 4px;
            color: #656565;
        }

        &-title {
            margin-top: 5px;

            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 2;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            display: -webkit-box;
            display: box;
            -webkit-box-orient: vertical;
            box-orient: vertical;

            &:hover {
                text-decoration: underline;
            }
        }

        &-btn {
            display: inline-block;
            border-radius: 5px;
            padding: 5px 13px 7px 0px;
            font-weight: $bold;
            color: $blue;
            font-size: 14px;
            & img {
                transition: .2s;
                margin-left: 8px;
            }

            &:hover img{
                margin-left: 16px;
            }
        }
    }
}


// Страница <<Отзывы>>
.es-write-review {
    margin-bottom: 50px;
    &__stars {
        margin-top: 10px;
    }
    &__radio {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
    }

    &__textarea {
        resize: none;
        width: 100%;
        height: 202px;
        border-radius: 5px;
        border: 1px solid #DBDBDB;
        padding: 11px 15px;
        color: $silver;
        font-size: 14px;
        margin-top: 10px;
        transition: 0.2s;
    }
    
    &__btn {
        margin-top: 10px;
    }
}

// Страница <<Контакты>>
.es-contacts {
    &__map {
        margin-top: 30px;
    }
}

// Страница продукта
.es-product {
    &__main-content {
        display: grid;
        grid-template-columns: 1fr 378px;
        gap: 18px;
        height: 461px;
    }

    &__images {
        display: flex;
    }
    &__image-btn {
        height: 72px;
        width: 81px;
        margin-top: 10px;
        border: 1px solid #cecece;
        border-radius: 5px;
        transition: border-color 0.1s;
        &:first-child {
            margin-top: 0px;
        }
        &:hover {
            border-color: $orange;
        }

        &--focus {
            border-color: $orange;
        }
    }
    &__secondary {
        &-images {
            display: flex;
            flex-direction: column;
        }
        &-image {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    &__main-image {
        background-color: $bg;
        border: 1px solid $border;
        border-radius: 5px;
        height: 100%;
        margin-left: 18px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__information {
        background-color: white;
        border: 1px solid $border;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        padding: 16px 20px;
    }

    &__prices {
        display: flex;
        align-items: center;
        &-price {
            font-weight: $extra-bold;
            font-style: italic;
            font-size: 23px;
            color: $black;
        }
        &-old-price {
            display: flex;
            justify-content: center;
            position: relative;
            display: inline-block;
            font-family: $regular;
            font-style: italic;
            font-weight: normal;
            font-size: 20px;
            color: $silver;
            margin-left: 18px;
            &-line {
                display: inline-block;
                height: 2px;
                width: 108%;
                background-color: $silver;
                position: absolute;
                top: 50%;
                right: -5px;
            }
        }
        &-discount {
            display: inline-block;
            background-color: $pink;
            border-radius: 5px;
            padding: 5px 12px;
            color: white;
            font-weight: $extra-bold;
            font-size: 14px;
            margin-left: 18px;
        }
    }

    &__footer {
        &-tabs {
            margin-bottom: 30px;
            margin-top: 50px;
            display: flex;
            max-width: 259px;
            height: 45px;
            border: 1px solid $orange;
            border-radius: 5px 5px 0 0;
            &-label {
                flex: 1;
                cursor: pointer;
                &:last-child .es-product__footer-tabs-input-style {
                    border-radius: 0 5px 0 0;
                    border-left: 1px solid $orange;
                }
            }
            &-input {
                position: absolute;
                height: 1px;
                width: 1px;
                overflow: hidden;
                clip: rect(0 0 0 0);
                &:checked + .es-product__footer-tabs-input-style {
                    background-color: $orange;
                    color: white;
                }
            }
            &-input-style {
                border-radius: 5px 0 0 0;
                display: inline-block;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: $orange;
                font-weight: $semi-bold;
                transition: background-color .1s, color .1s;
                &:hover {
                    background-color: rgb(255, 228, 224);
                }
            }
        }
    }
}


// Страница <<Корзина>>
.es-cart {
    &__container {
        display: grid;
        grid-template-columns: 1fr 340px;
        gap: 18px;
    }

    &__product {
        padding-right: 18px;
        position: relative;
        background-color: $bg;
        border: 1px solid $border;
        height: 90px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
        transition: background-color .2s, box-shadow .2s;
        &:hover {
            background-color: white;
            box-shadow: 0px 3px 18px rgba(0, 0, 0, 0.15);
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-main-content {
            display: block;
            display: flex;
            align-items: center;
            width: 50%;
            min-width: 323px;
        }
        &-img-container {
            display: inline-block;
            height: 80px;
            width: 80px;
        }
        &-img {
            height: 80px;
            width: 80px;
            object-fit: contain;
        }

        &-info {
            margin-left: 15px;
        }
        &-title {
            max-width: 320px;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            -ms-line-clamp: 2;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            display: -webkit-box;
            display: box;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            &:hover {
                text-decoration: underline;
            }
        }
        &-prices {
            margin-top: 4px;
        }
        &-buttons-container {
            margin-left: 20px;
            width: 35%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__sidebar {
        padding: 20px;
        background-color: white;
        border: 1px solid #E4E4E4;
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        height: 195px;
    }
    &__sum {
        color: $black;
    }
    
}

// Модалки

.es-modal-bg {
    transition: transform 0.4s;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.es-modal {
    width: 398px;
    padding: 40px 60px 60px 60px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    &__btn-delete {
        position: absolute;
        top: 13px;
        right: 13px;
    }
    &__title {
        text-align: center;
    }
    & form {
        width: 100%;
    }
    &__buttons {
        display: flex;
        width: 100%;
        & button {
            width: 100%;
            flex: 1;
        }
    }
}

// CТИЛИ ВТОРОСТЕПЕННЫХ ЭЛЕМЕНТОВ

.es-absence {
    height: 60px;
    background-color: #F6F6F6;
    border: 1.5px solid #E4E4E4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #868686;
    font-size: 14px;
    text-align: center;
    &__text {
        font-weight: $regular;
    }
    &--red {
        background-color: #ffcece;
        border: 2px solid #ff7a7a;
        font-size: 12px;
        color: rgb(255, 87, 87);
    }
    &--green {
        background-color: #d5ffc8;
        border: 2px solid #67df5d;
        font-size: 12px;
        color: rgb(67, 202, 26);
    }
}

.es-specifications {
    margin-top: 18px;
    &__item {
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: relative;
       margin-bottom: 8px;
       &:last-child {
           margin-bottom: 0px;
       }
    }
    &__key {
        margin-right: 8px;
        color: $silver;
    }
    &__line {
        display: flex;
        flex: 1;
        top: 1px;
        border: none;
        height: 1px;
        background-color: #CFCFCF;
        margin-top: 7.5px;
    }
    &__value {
        color: $black;
        margin-left: 8px;
    }
}


.es-counter {
    display: inline-block;
    height: 34px;
    width: 116px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    &--checked {
        background-color: #ececec;
    }
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    &__count {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        padding-bottom: 2px;
        font-size: 14px;
        color: $silver
    };
    &__arrow {
        position: relative;
        padding-bottom: 1px;
        width: 36px;
        transition: background-color .2s;
        &:hover {
            background-color: rgb(238, 238, 238);
        }
        &-1 {
            border-radius: 5px 0 0 5px;
            border-right: 1px solid #CCCCCC;
        }
        &-2 {
            float: right;
            border-radius: 0 5px 5px 0;
            border-left: 1px solid #CCCCCC;
        }
    }

    &__svg {
        fill: $black;
        position: absolute;
        top: 13px;
        left: 13px;
        &-minus {
            fill: #8b8b8b;
            transform: rotate(-90deg);
        }
        &-plus {
            fill: #8b8b8b;
            transform: rotate(90deg);
        }
    }
}

.es-title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Скрытие стрелок у инпутов с типом number
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.es-star {
    fill: #CCCCCC;
    &--focus {
        fill: $yellow;
    }
    &--hover {
        cursor: pointer;
        fill: $yellow;
    }
}

.es-contacts-onformation {
    &__contact {
        color: $silver;
        font-size: 14px;
        margin-top: 6px;
        & span {
            color: $black;
            margin-left: 15px;
        }
    }
}



// Скролл бар
.simplebar-track.simplebar-vertical {
    margin: 4px 0px 4px 0px;
    width: 5px;
    border-radius: 5px;
    background-color: #EBEBEB;
    margin-right: 4px;
}
.simplebar-scrollbar::before {
    width: 5px;
    border-radius: 5px;
    background-color: #858585;
    left: 0;
}

// Цена товара
.es-card-prices {
    height: 20px;
    &__price {
        font-weight: $extra-bold;
        font-style: italic;
        color: $black;
        font-size: 19px
    };
    &__old-price {
        position: relative;
        font-weight: $medium;
        font-style: italic;
        color: $silver;
        font-size: 14px;
        margin-left: 4px;
        &-line {
            position: absolute;
            top: 8px;
            display: inline-block;
            width: 62px;
            height: 1px;
            background-color: $silver;
        }
    }
    &__discount{
        margin-left: 8px;
        font-weight: $extra-bold;
        font-style: italic;
        color: $pink;
        font-size: 16px;
    }
}


// Итого
.es-amount {
    font-size: 18px;
    color: #828282;
    font-style: italic;
    font-weight: bold;
    &-sum {
        color: $black;
    }
}


// Стили для элементов выподающего меню
.es-drop-down {
    &__item {
        border-bottom: 1px solid #DBDBDB;
        &:last-child {
            border-bottom: none; 
        }
    }
    &__link {
        display: flex;
        justify-content: start;
        padding: 22px;
        align-items: center;
        height: 53px;
        width: 100%;
        transition: 0.1s linear;
        &:hover {
            background-color:rgb(243, 243, 243);
        }

    }
}


// Социальные сети
.es-social-networks {
    margin-top: 14px;
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    transition: .5s;
    &__item {
        transition: transform .2s;
        &:hover {
            transition: .2s;
            transform: scale(1.2);
        }
        
    }
}

// Хлебные крошки
.es-breadcrumbs{
    color: #8b8b8b;
    & a {
        color: #8b8b8b;
        &:hover {
            text-decoration: underline;
        }
    }
    & span {
        color: $black;
    }
}
.es-breadcrumbs a:last-child{
    color: black;
}











// Адаптивность
@media (max-width: 600px) {
    .es-grid-container--slider-and-sidebar {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 818px) {
    .es-advantages__item {
        flex-direction: column;
        align-items: center;
    }
    .es-advantages__text-content {
        margin-top: 10px;
        margin-left: 0px;
        text-align: center;
    }
}
@media (max-width: 675px) {
    .es-advantages__list {
        flex-direction: column;
    }
    .es-advantages__item {
        flex-direction: row;
        margin-bottom: 15px;
    }
    .es-advantages__text-content {
        margin-left: 20px;
        text-align: inherit;
    }
    .es-advantages__description {
        max-width: 100%;
    }
}




// Общие классы
.es-opacity {
    &-hide {
        transform: translate(0px, -10px);
        opacity: 0;
        visibility: hidden;
        transition: 0.2s;
        height: 0;
        &--hover:hover {
            visibility:visible;
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    
    &-show {
        transition: 0.2s;
        visibility:visible;
        transform: translate(0px, 0px);
        opacity: 1;
    }
    
}

.es-overflow {
    &-hide {
        transition: .1s;
        height: 0px;
    }
    &-show {
        height: auto;
        transition: .1s;
        margin-bottom: 20px;
    }
}

.es-margin-right {
    margin-right: 18px;
}
.es-margin-left {
    margin-left: 18px;
}
.es-margin-top {
    margin-top: 18px;
}
.es-margin-top80 {
    margin-top: 80px;
}
.es-margin-bottom {
    margin-bottom: 18px;
}

.es-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.es-rotate180 {
    transition: .1s;
    transform: rotate(180deg);
};

.element-invisible {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.es-hide {
    display: none;
    &--animation {
        transform: translate(0px, -1000px);
    }
}

.es-show {
    &--flex {
        display: flex;
    }
    &--block {
        display: block;
    }
    &--animation {
        transform: translate(0px, 0px);
    }
}