@import "../../../css/variables/variables.scss";

.es-input-text {
    width: 100%;
    background-color: $bg;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    height: 45px;
    transition: 0.2s;
    padding: 0 15px;
    color: $silver;
    font-size: 14px;
    &:hover {
        border: 1px solid #c0c0c0;
    }
    &:focus {
        outline: none;
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    }
}