@import "../../css/variables/variables.scss";
.es-header {
    
    // Header top
   &__top {
       background-color: $bg;
       width: 100%;
   }

   &__top-content {
       min-height: 43px;
       padding-top: 10px;
       display: flex;
       justify-content: space-between;
   }

   &__nav {
       width: 100%;
       padding-left: 58px;
       &-list {
           display: flex;
       }
       &-item {
           list-style: none;
           margin-right: 25px;
       }
       
   }

   &__phone {
       min-width: 151px;
       font-size: 16px;
       color: $black;
       font-weight: $medium;
       transition: color 0.1s linear;
       &:hover {
           color: $orange;
       }
   }


   // Header bottom
   &__bottom {
       height: 74px;
       padding: 13px 0 13px 0;
       &-content {
           display: flex;
       }
   }

   &__btn-catalog {
       margin-right: 18px;
       &:hover + .es-header__catalog-bg1 {
            visibility:visible;
            transform: translate(0px, 0px);
            opacity: 1;
       }
       & img {
           position: absolute;
           left: 11px;
           top: 14px;
       }
       & span {
            margin-left: 30px;
       }
       
   }

   &__catalog {
       position: relative;

       &-bg1 {
            z-index: 20;
            padding-top: 13px;
            position: absolute;
            top: 48px;
       }
       &-bg2 {
            overflow: auto;
            overflow-x: hidden;
            background-color:white;
            border-radius: 5px;
            border: 1px solid $border;
            height: 380px;
            width: 220px;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }
        }
   }

   &__user-buttons{
        width: 235px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 20px;
        margin-right: 11px;
   }
   &__chosen-btn {
        position: relative;
        margin-right: 10px;
    }
    &__account {
        position: relative;
        &-btn:hover + .es-header__account-bg1 {
            visibility:visible;
            transform: translate(0px, 0px);
            opacity: 1;
       }
        &-bg1 {
            z-index: 20;
            position: absolute;
            padding-top: 15px;
            top: 35px;
            left: -188px;
        }
        &-bg2 {
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
            width: 210px;
            background-color: white;
            border: 1px solid $border;
            border-radius: 5px;
        }
        
    }
   &__quantity-products{
        position: absolute;
        top: -5px;
        left: 20px;
        height: 18px;
        width: 18px;
        border-radius: 100%;
        background-color: $pink;
        font-size: 12px;
        font-weight: $bold;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
   }

   // Cart
   &__cart {
        position: relative;
        &-btn {
            display: inline-block;
            &:hover + .es-header__cart-bg-1 {
                visibility:visible;
                transform: translate(0px, 0px);
                opacity: 1;
            }
         }
        &-bg-1 {
            z-index: 20;
            padding-top: 13px;
            position: absolute;
            top: 40px;
            left: -388px; 
            
       }
       &-bg-2 {
            border-radius: 5px;
            border: 1px solid #DBDBDB;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
            background-color: white;
            width:1000px;
            max-width: 428px;
       }

       &-products {
            max-height: 300px;
            padding: 15px 20px 15px 15px;
            overflow: auto;
            &::-webkit-scrollbar {
                    width: 0;
                    height: 0;
            }
            &-item {
                height: 90px;
                width: 100%;
                background-color: $bg;
                padding: 8px;
                border-radius: 5px;
                border: 1px solid $border;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0px;
                }
            } 
       }
       &-image {
            width: 72px;
            height: 60px;
            object-fit: contain;
       }
       
        &-info {
            margin-left: -10px;
        }
        &-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            font-size: 14px;
            font-weight: $medium;
            font-style: italic;
            color: $black;
            width: 245px;
        }
        &-footer {
            height: 100%;
            width: 100%;
            padding: 15px;
            border-top: 1px solid #DBDBDB;
        }
        &-counter {
            margin-top: 3px;
            transform: scale(0.9);
            transform-origin: left;
        }
    }
}

