@import "../../css/variables/variables.scss";

.es-input {
    position: relative;
    display: inline-block;
    &__text {
        margin-left: 27px;
        display: inline-block;
        font-size: 14px;
        color: $silver;
        font-weight: $regular;
        line-height: 145%;
    }
    &__checkbox {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        &-style {
            display: inline-block;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 3px;
            height: 18px;
            width: 18px;
            border: 2px solid $orange;
            border-radius: 5px;
        }

        &:checked + .es-input__checkbox-style{
            background-image: url(/images/checkmark.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
        &:disabled + .es-input__checkbox-style{
            border-color: #b6b6b6;
        }
        &:disabled:checked + .es-input__checkbox-style{
            background-image: url(/images/checkmark-disabled.svg);
            background-repeat: no-repeat;
            background-position: center center;
        }
    }


    &__radio {
        position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        &-style {
            display: inline-block;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 3px;
            height: 18px;
            width: 18px;
            border: 2px solid $orange;
            border-radius: 50px;
            &-span {
                display: none;
                border-radius: 50px;
                height: 8px;
                width: 8px;
                background-color: $orange;
            }
        }
        &:checked + .es-input__radio-style > .es-input__radio-style-span{
            display: inline-block;

        }

    }
    
}

.es-input--hover:hover {
    border: 1px solid #c0c0c0;
}
.es-input--focus:focus {
    border: 1px solid #c0c0c0;
    outline: none;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

// Type - text
.es-input-text {
    width: 100%;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    height: 45px;
    transition: 0.2s;
    padding: 0 15px;
    color: $silver;
    font-size: 14px;
}

// Type - search
.es-input-search {
    position: relative;
    width: 100%;
    height: 48px;
    font-size: 14px;
    display: flex;
    align-items: center;
    &__input {
        color: #8C8C8C;
        padding: 0 50px 0 14px;
        height: 100%;
        width: 100%;
        transition: 0.1s linear;
        background-color: inherit;
        font-size: 14px;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        background-color: white;
        &::placeholder {
            font-size: 14px;
            color: #8C8C8C;
        }
        &:hover {
            border-color: #bdbdbd;
        }
        &:focus {
            outline: none;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
            border-color: #bdbdbd;
        }
    }

    &__btn {
        position: absolute;
        right: 4px;
        top: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 4px;
        height: 40px;
        width: 40px;
        transition: 0.1s linear;
        &:hover {
            background-color: #e5e8f3;
        }
        &-icon {
            fill: #a5aaca;
        }
    }  
}