$orange: #FF5E3F;
$silver: #656565;
$black: #35383D;
$bg: #F6F6F6;
$pink: #FF4062;
$border: #E4E4E4;
$blue: #0267FF;
$yellow: #FFAC0A;


$bold: 700;
$regular: 400;
$extra-bold: 800;
$medium: 500;
$semi-bold: 600;