@import "../../css/variables/variables.scss";
.es-btn {
    height: 48px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
    display: inline-block;
    padding-bottom: 3px;

    
    // Главный стиль кнопок
    &-orange {
        font-weight: $bold;
        color: white;
        &__text {
            position: relative;
            z-index: 3;
        }
        &__image {
            position: absolute;
            z-index: 3;
            margin-right: 10px;
        }
        &__bg-1 {
            z-index: 2;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            background-color: $orange;
            height: 45px;
            border-radius: 5px;
        }
        &__bg-2 {
            z-index: 1;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: #C24C35;
            height: 42px;
            border-radius: 5px;
        }
        &:active &__bg-1 {
            top: 1px;
        }
        &:active &__text {
            top: 1px;
        }
        &:active &__image {
            top: 15px;
        } 
    }

    
    // Размер кнопок
    &--size {
        &-small {
            min-width: 125px;
        }
        &-normal {
            min-width: 179px;
        }
        &-big {
            min-width: 243px;
        }
        &-all-width {
            width: 100%;
        }
    }
   


    // Второстепенные стили кнопок
    &--style {
       &-inherit-orange {
           border: 2px solid $orange;
           background:inherit;
           color: $orange;
           font-weight: $semi-bold;
           transition: 0.1s;
           &:hover {
               background-color: $orange;
               color: white;
           }
           &:active {
               border-color: #e95032;
               background-color: #e95032;
               color: white;
           }
       }
       &-inherit-white {
            border: 2px solid white;
            background:inherit;
            color: white;
            font-weight: $semi-bold;
            transition: 0.1s;
            &:hover {
                background-color: white;
                color: $orange;
            }
       }

    }

    // Кнопка удалить
    &-delete {
        border: 1px solid #AAAAAA;
        border-radius: 5px;
        height: 30px;
        width: 32px;
        padding-top: 1.5px;
        padding: 1.8px 1px 0 0;
        transition: 0.1s;
        &-icon {
            fill: #AAAAAA;
        }
        &:hover {
            background-color: $orange;
            border-color: $orange;
        }
        &:hover > &-icon {
            fill: rgb(255, 255, 255);
        }
   }

   // Кнопки для слайдера
   &-slider {
        height: 32px;
        width: 32px;
        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 100%;
        &__svg-right {
            transform: rotate(90deg);
            fill: #707070;
            margin: 0 0 2px 2px;
        }
        &__svg-left {
            transform: rotate(-90deg);
            fill: #707070;
            margin: 0 2px 2px 0px;
        }
   }

   // Стили для кнопок-ссылок
   &--link {
    text-align: center;
    padding-top: 12px;
   }

   // Стили для кнопок со стрелкой
   &-arrow {
       padding: 5px 7px;
       border-radius: 5px;
       color: #646464;
       font-size: 15px;
       font-weight: $medium;
       font-style: italic;
       transition: 0.1s;
       &__img {
            margin-left: 7px;
            fill: #646464;
       }
       &:hover {
           color: $black;
           transition: 0.1s;
       }
       &:hover  .es-btn-arrow__img{
            fill: $black;
            transition: 0.1s;
       }
   }

   &-chosen {
        border: 1px solid #999999;
        border-radius: 5px;
        width: 60px;
        height: 48px;
        padding: 3px 0 0 2px;
        transition: .2s;
        &:hover {
            border-color: $orange;
            transition: .2s;
            background-color: $orange;
        }
        &:hover > svg {
            fill: #ffffff;
            transition: .2s;
        }
        & svg {
            fill:#808080;
            transition: .2s;
        }
   }
}